name: CI

on:
  push:
    branches: [ "main" ]
    tags: ["*"]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  e2e:
    name: E2E Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: archlinux:multilib-devel
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install chezmoi
        run: |
          pacman -Syu --noconfirm --needed chezmoi
      - name: Init and apply dotfiles
        run: |
          chezmoi init --apply -v sabertazimi
      - name: Verify dotfiles
        run: |
          .github/scripts/verify-dotfiles.sh

  publish:
    name: Publish
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [e2e]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0
      - name: Set up Node environment
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
          architecture: x64
          registry-url: https://registry.npmjs.org/
      - name: Release to GitHub
        run: |
          npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
